.s-main-usuarios-list {
	background: #fff;
	padding: 20px 0px;
	height: 100vh;

	.__usuarios-title {
		width: 95%;
		margin: 0 auto;
		display: flex;
		position: relative;
		align-items: center;
		padding: 0px 0px 20px 0px;

		.__btn-agregar {
			background: rgb(137, 241, 146);
			padding: 10px 20px;
			text-align: center;
			width: 200px;
			right: 50px;
			position: absolute;
			border-radius: 5px;
			text-decoration: none;
			font-weight: 600;
			color: #117B1E;

			&:hover {
				background: #117B1E;
				border: solid 2px rgb(137, 241, 146);
				transition: all 100ms ease-in;
				color: rgb(137, 241, 146);
			}
		}
	}

	hr {
		border: solid 1px rgb(216, 236, 218);
		width: 95%;
		margin: 20px auto;
	}

	.s-table-list {
		width: 90%;
		margin: 0 auto;


		table {
			width: 100%;
			text-align: left;

			th {
				padding: 5px 0px;
			}

			.btn-group {
				position: relative;
				display: flex;
				justify-content: space-around;

				a {
					margin: 2px;
					border-radius: 5px;
					text-decoration: none;
					padding: 5px 10px;
					margin: 0px 5px;

					&:nth-child(1) {
						background: #E6BC27;
					}

					&:nth-child(2) {
						background: #FF0000;
					}
				}
			}
		}
	}
}

.s-main-llamada {
	background: #fff;
	padding: 20px 0px;

	.title-llamada {
		width: 95%;
		margin: 0 auto;
	}

	hr {
		border: solid 1px #d8ecda;
		width: 95%;
		margin: 20px auto;
	}

	.s-form-llamada {
		width: 60%;
		margin: 0 auto;

		div {

			&:nth-child(1),
			&:nth-child(2) {
				width: 49.7%;
				display: inline-flex;
			}

		}

		.mdl-textfield.is-invalid .mdl-textfield__input {
			border-color: rgba(0, 142, 90, 0.5);
			box-shadow: none;
			font-family: 'Monserrat-Regular';
		}

		.mdl-textfield.is-invalid .mdl-textfield__label:after {
			background-color: rgba(0, 142, 90, 1);
		}

		.mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
		.mdl-textfield__label {
			color: #008E5A;
			font-size: 16px;
			font-family: 'Monserrat-Regular';
		}

		.mdl-textfield__input {
			border-bottom: 1px solid rgba(0, 142, 90, 0.6);
			font-family: 'Monserrat-Regular';
		}

		.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
		.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
		.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
			color: rgba(0, 142, 90, 1);
			font-size: 12px;
			font-family: 'Monserrat-Regular';
		}

		.mdl-textfield__label:after {
			background-color: rgba(0, 142, 90, 1);
		}

		.__btn-guardar {
			width: 200px;
			height: 35px;
			border-radius: 5px;
			border: solid 2px rgba(0, 142, 90, 0.6);
			background: none;
			color: rgba(0, 142, 90, 1);
			font-weight: 600;

			&:hover {
				background: rgba(0, 142, 90, 1);
				color: #fff;
				transition: all 200ms ease;
			}
		}
	}
}

.s-add-user {
	background: #fff;
	padding: 20px 0px;

	.title-user {
		width: 95%;
		margin: 0 auto;
	}

	hr {
		border: solid 1px rgb(216, 236, 218);
		width: 95%;
		margin: 20px auto;
	}

	.s-form-user {
		width: 60%;
		margin: 0 auto;

		div {

			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(9) {
				width: 49.7%;
				display: inline-flex;
			}
		}
	}

	.mdl-textfield.is-invalid .mdl-textfield__input {
		border-color: rgba(0, 142, 90, 0.5);
		box-shadow: none;
		font-family: 'Monserrat-Regular';
	}

	.mdl-textfield.is-invalid .mdl-textfield__label:after {
		background-color: rgba(0, 142, 90, 1);
	}

	.mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
	.mdl-textfield__label {
		color: #008E5A;
		font-size: 16px;
		font-family: 'Monserrat-Regular';
	}

	.mdl-textfield__input {
		border-bottom: 1px solid rgba(0, 142, 90, 0.6);
		font-family: 'Monserrat-Regular';
	}

	.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
	.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
	.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
		color: rgba(0, 142, 90, 1);
		font-size: 12px;
		font-family: 'Monserrat-Regular';
	}

	.mdl-textfield__label:after {
		background-color: rgba(0, 142, 90, 1);
	}

	.__btn-guardar {
		width: 200px;
		height: 35px;
		border-radius: 5px;
		border: solid 2px rgba(0, 142, 90, 0.6);
		background: none;
		color: rgba(0, 142, 90, 1);
		font-weight: 600;

		&:hover {
			background: rgba(0, 142, 90, 1);
			color: #fff;
			transition: all 200ms ease;
		}
	}

	.s-rol {
		width: 100%;
        select{
            width: 100%;
            height: 30px;
            border: solid 1px rgba(0, 142, 90, 1);
            border-radius: 5px;
            font-size: 12px;
            font-family: 'Monserrat-Regular';
            outline: none;
        }
	}
}

nav {
	padding: 10px 0px;

	ul {
		display: flex;
		width: 80%;
		margin: 0 auto;

		li {
			list-style: none;
			margin: 0px 20px;

			a {
				color: rgb(216, 236, 218);
				text-decoration: none;
				padding: 5px 10px;
			}
		}
	}
}