@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.s-main-llamada {
	background: #fff;
	padding: 20px 0px;

	.title-llamada {
		width: 95%;
		margin: 0 auto;
	}

	hr {
		border: solid 1px #d8ecda;
		width: 95%;
		margin: 20px auto;
	}

	.s-form-llamada {
		width: 60%;
		margin: 0 auto;

		div {

			&:nth-child(1),
			&:nth-child(2) {
				width: 49.7%;
				display: inline-flex;
			}

		}

		.mdl-textfield.is-invalid .mdl-textfield__input {
			border-color: rgba(0, 142, 90, 0.5);
			box-shadow: none;
			font-family: 'Monserrat-Regular';
		}

		.mdl-textfield.is-invalid .mdl-textfield__label:after {
			background-color: rgba(0, 142, 90, 1);
		}

		.mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
		.mdl-textfield__label {
			color: #008E5A;
			font-size: 16px;
			font-family: 'Monserrat-Regular';
		}

		.mdl-textfield__input {
			border-bottom: 1px solid rgba(0, 142, 90, 0.6);
			font-family: 'Monserrat-Regular';
		}

		.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
		.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
		.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
			color: rgba(0, 142, 90, 1);
			font-size: 12px;
			font-family: 'Monserrat-Regular';
		}

		.mdl-textfield__label:after {
			background-color: rgba(0, 142, 90, 1);
		}

		.__btn-guardar {
			width: 200px;
			height: 35px;
			border-radius: 5px;
			border: solid 2px rgba(0, 142, 90, 0.6);
			background: none;
			color: rgba(0, 142, 90, 1);
			font-weight: 600;

			&:hover {
				background: rgba(0, 142, 90, 1);
				color: #fff;
				transition: all 200ms ease;
			}
		}
	}
}

.s-add-clientes {
	background: #fff;
	padding: 20px 0px;

	.title-clientes {
		width: 95%;
		margin: 0 auto;
	}

	hr {
		border: solid 1px rgb(216, 236, 218);
		width: 95%;
		margin: 20px auto;
	}

	.s-form-clientes {
		width: 60%;
		margin: 0 auto;

		div {

			&:nth-child(0),
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(9),
			&:nth-child(10),
			&:nth-child(11),
			&:nth-child(12),
			&:nth-child(13),
			&:nth-child(14),
			&:nth-child(15) {
				width: 49.7%;
				display: inline-flex;
			}

		}
	}

	.mdl-textfield.is-invalid .mdl-textfield__input {
		border-color: rgba(0, 142, 90, 0.5);
		box-shadow: none;
		font-family: 'Monserrat-Regular';
	}

	.mdl-textfield.is-invalid .mdl-textfield__label:after {
		background-color: rgba(0, 142, 90, 1);
	}

	.mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
	.mdl-textfield__label {
		color: #008E5A;
		font-size: 16px;
		font-family: 'Monserrat-Regular';
	}

	.mdl-textfield__input {
		border-bottom: 1px solid rgba(0, 142, 90, 0.6);
		font-family: 'Monserrat-Regular';
	}

	.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
	.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
	.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
		color: rgba(0, 142, 90, 1);
		font-size: 12px;
		font-family: 'Monserrat-Regular';
	}

	.mdl-textfield__label:after {
		background-color: rgba(0, 142, 90, 1);
	}

	.__btn-guardar {
		width: 200px;
		height: 35px;
		border-radius: 5px;
		border: solid 2px rgba(0, 142, 90, 0.6);
		background: none;
		color: rgba(0, 142, 90, 1);
		font-weight: 600;

		&:hover {
			background: rgba(0, 142, 90, 1);
			color: #fff;
			transition: all 200ms ease;
		}
	}

	.s-raiting {
		text-align: center;
		display: flex;
		justify-content: center;

		input[type='radio'] {
			margin: 0px 10px;

		}
		input.star{
			display: none;
		}
		label.star {
			float: right;
			padding: 10px;
			font-size: 36px;
			color: #444;
			transition: all .2s;
		  }
		  input.star:checked ~ label.star:before {
			content: '\f005';
			color: #FD4;
			transition: all .25s;
		  }
		  input.star-5:checked ~ label.star:before {
			color: #FE7;
			text-shadow: 0 0 20px #952;
		  }
		  
		  input.star-1:checked ~ label.star:before { color: #F62; }
		  
		  label.star:hover { transform: rotate(-15deg) scale(1.3); }
		  
		  label.star:before {
			content: '\f005';
			font-family: FontAwesome;
		  }
	}
}

nav {
	padding: 10px 0px;

	ul {
		display: flex;
		width: 80%;
		margin: 0 auto;

		li {
			list-style: none;
			margin: 0px 20px;

			a {
				color: rgb(216, 236, 218);
				text-decoration: none;
				padding: 5px 10px;
			}
		}
	}
}