body{
    background: url('../img/login/banner-bgr.jpg') center;
    background-position: cover;
    position: relative;
}
.s-formulario{
    width: 50%;
    margin: 0 auto;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 30px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    text-align: center;

    .__image-login{
        width: 100px;
        height: 100px;
        background: url('../img/login/banner-bgr.jpg') center;
        background-size: cover;
        margin: 0 auto;
        border-radius: 50px;
    }
    .__error_message{
        width: 100%;
        background: rgb(213,0,0);
        margin: 10px 0px;
        color: #fff;
        border-radius: 5px;

        p{
            padding: 5px 0px;
        }

    }
    button{
        width: 300px;
        height: 35px;
        margin: 0 auto;
        border: solid 1px rgba(0, 142, 90, 1);
        background: transparent;
        outline: none;
        font-size: 14px;
        letter-spacing: 2px;
        border-radius: 5px;
        color: rgba(0, 142, 90, 1);
        font-weight: 700;

        &:hover{
            background: rgba(0, 142, 90, 1);
            color: #fff;

        }
    }
    .mdl-textfield.is-invalid .mdl-textfield__input {
        border-color: rgba(0, 142, 90, 0.5);
        box-shadow: none;
        font-family: 'Monserrat-Regular';

    }
    .mdl-textfield.is-invalid .mdl-textfield__label:after {
        background-color: rgba(0, 142, 90, 1);
    }
    .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
        color:  #008E5A ;
        font-size: 16px;
        font-family: 'Monserrat-Regular';

    }
    .mdl-textfield__input{
        border-bottom: 1px solid rgba(0, 142, 90, 0.6);
    }
    .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
        color: rgba(0, 142, 90, 1);
        font-size: 12px;
        font-family: 'Monserrat-Regular';
    }
    .mdl-textfield__label:after{
        background-color: rgba(0, 142, 90, 1);
    }
}