body{
    background: url('../img/login/login-bgr.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.c-main-login {
	position: relative;
	height: 100vh;

	.c-login-form {
		width: 500px;
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        padding: 30px 40px;
        border-radius: 20px;
		top: 50%;
		left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        img{
            width: 90px;
            height: 90px;
            border-radius: 50px;
        }
		.mdl-textfield__input {
            border-bottom: 1px solid rgb(0, 124, 79);    
            color: rgb(0, 124, 79);
            text-indent: 20px;        
        }
        
		.mdl-textfield__label {
			color: rgba(0, 124, 79, 0.5);
		}

		.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
		.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
            color: rgba(0, 124, 79, 1);
		}

		.mdl-textfield.is-invalid .mdl-textfield__label:after {
			background-color: rgb(0, 124, 79);
        }
        .mdl-textfield.is-invalid .mdl-textfield__input{
            border-color: rgb(0, 124, 79); 
        }
        .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
            color: rgba(0, 124, 79, 1);
            font-size: 16px;
        }
        .mdl-textfield__label:after{
            background-color: rgb(0, 124, 79);
        }
        button{
            width: 200px;
            height: 35px;
            font-size: 14px;
            background: transparent;
            border: solid 1px rgb(0, 124, 79);
            color: rgb(0, 124, 79);
            letter-spacing: 4px;
            border-radius: 3px;
            margin-top: 15px;

            &:hover{
                transition: all 200ms ease;
                background: rgba(255, 255, 255, 0.5);
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
        .c-message-error{
            background: #DB0F13;
            color: #fff;
            font-size: 15px;
            text-align: center;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: -10px;
        }
    }
}
