.s-main-usuarios-list {
  background: #fff;
  padding: 20px 0px;
  height: 100vh; }
  .s-main-usuarios-list .__usuarios-title {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 0px 20px 0px; }
    .s-main-usuarios-list .__usuarios-title .__btn-agregar {
      background: #89f192;
      padding: 10px 20px;
      text-align: center;
      width: 200px;
      right: 50px;
      position: absolute;
      border-radius: 5px;
      text-decoration: none;
      font-weight: 600;
      color: #117B1E; }
      .s-main-usuarios-list .__usuarios-title .__btn-agregar:hover {
        background: #117B1E;
        border: solid 2px #89f192;
        -webkit-transition: all 100ms ease-in;
        -o-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        color: #89f192; }
  .s-main-usuarios-list hr {
    border: solid 1px #d8ecda;
    width: 95%;
    margin: 20px auto; }
  .s-main-usuarios-list .s-table-list {
    width: 90%;
    margin: 0 auto; }
    .s-main-usuarios-list .s-table-list table {
      width: 100%;
      text-align: left; }
      .s-main-usuarios-list .s-table-list table th {
        padding: 5px 0px; }
      .s-main-usuarios-list .s-table-list table .btn-group {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .s-main-usuarios-list .s-table-list table .btn-group a {
          margin: 2px;
          border-radius: 5px;
          text-decoration: none;
          padding: 5px 10px;
          margin: 0px 5px; }
          .s-main-usuarios-list .s-table-list table .btn-group a:nth-child(1) {
            background: #E6BC27; }
          .s-main-usuarios-list .s-table-list table .btn-group a:nth-child(2) {
            background: #FF0000; }

.s-main-llamada {
  background: #fff;
  padding: 20px 0px; }
  .s-main-llamada .title-llamada {
    width: 95%;
    margin: 0 auto; }
  .s-main-llamada hr {
    border: solid 1px #d8ecda;
    width: 95%;
    margin: 20px auto; }
  .s-main-llamada .s-form-llamada {
    width: 60%;
    margin: 0 auto; }
    .s-main-llamada .s-form-llamada div:nth-child(1), .s-main-llamada .s-form-llamada div:nth-child(2) {
      width: 49.7%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .s-main-llamada .s-form-llamada .mdl-textfield.is-invalid .mdl-textfield__input {
      border-color: rgba(0, 142, 90, 0.5);
      -webkit-box-shadow: none;
      box-shadow: none;
      font-family: 'Monserrat-Regular'; }
    .s-main-llamada .s-form-llamada .mdl-textfield.is-invalid .mdl-textfield__label:after {
      background-color: #008e5a; }
    .s-main-llamada .s-form-llamada .mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
    .s-main-llamada .s-form-llamada .mdl-textfield__label {
      color: #008E5A;
      font-size: 16px;
      font-family: 'Monserrat-Regular'; }
    .s-main-llamada .s-form-llamada .mdl-textfield__input {
      border-bottom: 1px solid rgba(0, 142, 90, 0.6);
      font-family: 'Monserrat-Regular'; }
    .s-main-llamada .s-form-llamada .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
    .s-main-llamada .s-form-llamada .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
    .s-main-llamada .s-form-llamada .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
      color: #008e5a;
      font-size: 12px;
      font-family: 'Monserrat-Regular'; }
    .s-main-llamada .s-form-llamada .mdl-textfield__label:after {
      background-color: #008e5a; }
    .s-main-llamada .s-form-llamada .__btn-guardar {
      width: 200px;
      height: 35px;
      border-radius: 5px;
      border: solid 2px rgba(0, 142, 90, 0.6);
      background: none;
      color: #008e5a;
      font-weight: 600; }
      .s-main-llamada .s-form-llamada .__btn-guardar:hover {
        background: #008e5a;
        color: #fff;
        -webkit-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease; }

.s-add-user {
  background: #fff;
  padding: 20px 0px; }
  .s-add-user .title-user {
    width: 95%;
    margin: 0 auto; }
  .s-add-user hr {
    border: solid 1px #d8ecda;
    width: 95%;
    margin: 20px auto; }
  .s-add-user .s-form-user {
    width: 60%;
    margin: 0 auto; }
    .s-add-user .s-form-user div:nth-child(2), .s-add-user .s-form-user div:nth-child(3), .s-add-user .s-form-user div:nth-child(4), .s-add-user .s-form-user div:nth-child(5), .s-add-user .s-form-user div:nth-child(7), .s-add-user .s-form-user div:nth-child(8), .s-add-user .s-form-user div:nth-child(9) {
      width: 49.7%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .s-add-user .mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgba(0, 142, 90, 0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Monserrat-Regular'; }
  .s-add-user .mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #008e5a; }
  .s-add-user .mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
  .s-add-user .mdl-textfield__label {
    color: #008E5A;
    font-size: 16px;
    font-family: 'Monserrat-Regular'; }
  .s-add-user .mdl-textfield__input {
    border-bottom: 1px solid rgba(0, 142, 90, 0.6);
    font-family: 'Monserrat-Regular'; }
  .s-add-user .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  .s-add-user .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
  .s-add-user .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #008e5a;
    font-size: 12px;
    font-family: 'Monserrat-Regular'; }
  .s-add-user .mdl-textfield__label:after {
    background-color: #008e5a; }
  .s-add-user .__btn-guardar {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: solid 2px rgba(0, 142, 90, 0.6);
    background: none;
    color: #008e5a;
    font-weight: 600; }
    .s-add-user .__btn-guardar:hover {
      background: #008e5a;
      color: #fff;
      -webkit-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease; }
  .s-add-user .s-rol {
    width: 100%; }
    .s-add-user .s-rol select {
      width: 100%;
      height: 30px;
      border: solid 1px #008e5a;
      border-radius: 5px;
      font-size: 12px;
      font-family: 'Monserrat-Regular';
      outline: none; }

nav {
  padding: 10px 0px; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto; }
    nav ul li {
      list-style: none;
      margin: 0px 20px; }
      nav ul li a {
        color: #d8ecda;
        text-decoration: none;
        padding: 5px 10px; }
