.s-main-llamada {
  background: #fff;
  padding: 20px 0px; }
  .s-main-llamada .title-llamada {
    width: 95%;
    margin: 0 auto; }
  .s-main-llamada hr {
    border: solid 1px #d8ecda;
    width: 95%;
    margin: 20px auto; }
  .s-main-llamada .s-form-llamada {
    width: 60%;
    margin: 0 auto; }
    .s-main-llamada .s-form-llamada div:nth-child(1), .s-main-llamada .s-form-llamada div:nth-child(2) {
      width: 49.7%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .s-main-llamada .s-form-llamada .mdl-textfield.is-invalid .mdl-textfield__input {
      border-color: rgba(0, 142, 90, 0.5);
      -webkit-box-shadow: none;
      box-shadow: none;
      font-family: 'Monserrat-Regular'; }
    .s-main-llamada .s-form-llamada .mdl-textfield.is-invalid .mdl-textfield__label:after {
      background-color: #008e5a; }
    .s-main-llamada .s-form-llamada .mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
    .s-main-llamada .s-form-llamada .mdl-textfield__label {
      color: #008E5A;
      font-size: 16px;
      font-family: 'Monserrat-Regular'; }
    .s-main-llamada .s-form-llamada .mdl-textfield__input {
      border-bottom: 1px solid rgba(0, 142, 90, 0.6);
      font-family: 'Monserrat-Regular'; }
    .s-main-llamada .s-form-llamada .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
    .s-main-llamada .s-form-llamada .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
    .s-main-llamada .s-form-llamada .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
      color: #008e5a;
      font-size: 12px;
      font-family: 'Monserrat-Regular'; }
    .s-main-llamada .s-form-llamada .mdl-textfield__label:after {
      background-color: #008e5a; }
    .s-main-llamada .s-form-llamada .__btn-guardar {
      width: 200px;
      height: 35px;
      border-radius: 5px;
      border: solid 2px rgba(0, 142, 90, 0.6);
      background: none;
      color: #008e5a;
      font-weight: 600; }
      .s-main-llamada .s-form-llamada .__btn-guardar:hover {
        background: #008e5a;
        color: #fff;
        -webkit-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease; }

.s-add-clientes {
  background: #fff;
  padding: 20px 0px; }
  .s-add-clientes .title-clientes {
    width: 95%;
    margin: 0 auto; }
  .s-add-clientes hr {
    border: solid 1px #d8ecda;
    width: 95%;
    margin: 20px auto; }
  .s-add-clientes .s-form-clientes {
    width: 60%;
    margin: 0 auto; }
    .s-add-clientes .s-form-clientes div:nth-child(0), .s-add-clientes .s-form-clientes div:nth-child(1), .s-add-clientes .s-form-clientes div:nth-child(2), .s-add-clientes .s-form-clientes div:nth-child(3), .s-add-clientes .s-form-clientes div:nth-child(4), .s-add-clientes .s-form-clientes div:nth-child(6), .s-add-clientes .s-form-clientes div:nth-child(7), .s-add-clientes .s-form-clientes div:nth-child(8), .s-add-clientes .s-form-clientes div:nth-child(9), .s-add-clientes .s-form-clientes div:nth-child(10), .s-add-clientes .s-form-clientes div:nth-child(11), .s-add-clientes .s-form-clientes div:nth-child(12), .s-add-clientes .s-form-clientes div:nth-child(13), .s-add-clientes .s-form-clientes div:nth-child(14), .s-add-clientes .s-form-clientes div:nth-child(15) {
      width: 49.7%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .s-add-clientes .mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgba(0, 142, 90, 0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Monserrat-Regular'; }
  .s-add-clientes .mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #008e5a; }
  .s-add-clientes .mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
  .s-add-clientes .mdl-textfield__label {
    color: #008E5A;
    font-size: 16px;
    font-family: 'Monserrat-Regular'; }
  .s-add-clientes .mdl-textfield__input {
    border-bottom: 1px solid rgba(0, 142, 90, 0.6);
    font-family: 'Monserrat-Regular'; }
  .s-add-clientes .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  .s-add-clientes .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
  .s-add-clientes .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #008e5a;
    font-size: 12px;
    font-family: 'Monserrat-Regular'; }
  .s-add-clientes .mdl-textfield__label:after {
    background-color: #008e5a; }
  .s-add-clientes .__btn-guardar {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: solid 2px rgba(0, 142, 90, 0.6);
    background: none;
    color: #008e5a;
    font-weight: 600; }
    .s-add-clientes .__btn-guardar:hover {
      background: #008e5a;
      color: #fff;
      -webkit-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease; }
  .s-add-clientes .s-raiting {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .s-add-clientes .s-raiting input[type='radio'] {
      margin: 0px 10px; }
    .s-add-clientes .s-raiting input.star {
      display: none; }
    .s-add-clientes .s-raiting label.star {
      float: right;
      padding: 10px;
      font-size: 36px;
      color: #444;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
    .s-add-clientes .s-raiting input.star:checked ~ label.star:before {
      content: '\f005';
      color: #FD4;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s; }
    .s-add-clientes .s-raiting input.star-5:checked ~ label.star:before {
      color: #FE7;
      text-shadow: 0 0 20px #952; }
    .s-add-clientes .s-raiting input.star-1:checked ~ label.star:before {
      color: #F62; }
    .s-add-clientes .s-raiting label.star:hover {
      -webkit-transform: rotate(-15deg) scale(1.3);
      -ms-transform: rotate(-15deg) scale(1.3);
      transform: rotate(-15deg) scale(1.3); }
    .s-add-clientes .s-raiting label.star:before {
      content: '\f006';
      font-family: FontAwesome; }

nav {
  padding: 10px 0px; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto; }
    nav ul li {
      list-style: none;
      margin: 0px 20px; }
      nav ul li a {
        color: #d8ecda;
        text-decoration: none;
        padding: 5px 10px; }
